@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,800;0,900;1,300;1,400;1,500;1,700&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

*{
  font-family:'Raleway', sans-serif;
  /* width: 100%; */
}
/* Navbar */
.nav{
  background-color: #0d052c ;
  overflow: hidden;
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.nav-logo{
  
  padding: 20px 0 0 50px;
}
.nav-photo{
  max-height: 180px;
  max-width: 180px;
  
}

.nav-title{
  margin-top: -20px;
  margin-left: 30%;
  color: #ffffff;
  font-weight: 400;
}
/* Doctors */
.doctors {
  background-color: #ffffff;
  padding-top: 2em;
  overflow: hidden;
  padding-bottom: 6em;
  /* margin-bottom: 14em; */
}
.pbg{
  z-index: 0;
  overflow: hidden;
}
.p-background {
  position: absolute;
  opacity: 50%;
  width: 100%;
  height: 30em;
  z-index: 0;
}
.doc-list{
  padding-top: 2em;
  margin-left: 8%;
  z-index: 99;
  overflow: hidden;
  
}
.doc-title{
  font-weight: 700;
  z-index: 10;
}
.doc-body{
  z-index: 99;
  margin-left: 3em;
  
}
.doc-list-box{
  float: left;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  transition: 0.8s;
  width: 18em;
  height: 12em;
  background-color: #0d052c;
  color: #ffffff;
  padding-top: 20px;
  margin: 3em 3em 50px 0;
  text-align: center;
  z-index: 99;
}

.doc-list-box:hover {
  background-color: #09168b;
  color: #ffffff;
  transform:  scale(1.1);
  transition: .75s;
}
.doc-list-box h3{
  color: aquamarine;
}
@media screen and (max-width: 768px) {
  .p-background  {
      min-height: 36em;
  }

  .doctors {
      margin-top: 4em;
      margin-bottom: 2em;
  }
}



/* Calendar  */
.home-button{
  position: absolute;
  right: 15%;
  font-size: 42px;
  color: rgb(0, 144, 144);

}
.home-button:hover{
  transform: scale(1.1);
  transition: 0.75s;
}
.calendar{
  background-color: aliceblue;
  padding: 3em 0;
  overflow: hidden;
}
.cal{
  padding-left: 3em;
  overflow: hidden;
}
.cal-title{
  padding-left: 10%;
}
.week{
  overflow: hidden;
  padding-left: 3em;
  /* padding: 0 0 3em 10%; */
  text-align: center;
}
.active-week-box{
  /* float: left; */
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 255, 245);
  border-radius: 5%;
  transition: 0.3s;
  width: 10em;
  height: 5em;
  padding-top: 20px;
  margin: 3em 30px 0 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.active-week-box:hover {
  background-color: #ffffff;
  transform:  scale(1.0);
  transition: 1.5s;
}

.inactive-week-box{
  float: left;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(194, 255, 104);
  border-radius: 5%;
  transition: 0.3s;
  width: 10em;
  height: 5em;
  padding-top: 20px;
  margin: 3em 30px 3em 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
/* 
.inactive-week-box:hover {
  background-color: #ffffff;
  transform:  scale(1.0);
  transition: 1.5s;
} */
.active{
  border: rgb(0, 166, 255) 20px;
  background-color: rgb(194, 255, 104);
  border-radius: 10%;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;

}
.disabled:hover{
  background-color: #a30000 !important;
  transform:  scale(.95);
  transition: 1.5s;
}

/*  */

.ava-no{
  display: none;
}
.ava-yes{
  overflow: hidden;
}
.availibility{
  overflow: hidden;
}
.hidden{
  overflow: hidden;
  display: hidden;
}
.ava{
  text-align: center;
  padding: 0 0 3em 10%;
  
}
.ava-box{
  float: left;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  transition: 0.3s;
  width: 8em;
  height: 30em;
  padding: 30px;
  margin: 3em 30px 3em 0;
  text-align: center;
  font-size: 18px;
}

.ava-box:hover {
  transform:  scale(1.02);
  transition: .75s;
  border-radius: 10%;
}
/* .con{
  margin-right: auto;
} */
.container{
  text-align: center;
}
.container button{
  background-color: rgb(216, 249, 255); 
  border-radius: 10%;
  transition: 0.3s;
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  padding: 10px;
  width: 5em;
  height: 3em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5%;
  cursor: pointer;  


}

.container button:hover{
  transform: scale(1.1);
  transition: .50s;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

} 










/* Footer */

.footer{
  background-color: #0d052c;
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}

.foot-logo{
  /* padding: 20px 0 0 50px; */
  /* margin-top: -60px ; */
  transition: 0.3s;
  
}
.foot-logo:hover{
  transform:  scale(1.1);
  transition: .75s;
}
.foot-photo{
  max-height: 180px;
  max-width: 100px;
  filter: grayscale(100%);
}

.foot-box {
  float: left;
  width: 45%;
  margin-left: 20px;
}
.foot-box h1{
  color: #ffffff;
}
.foot-left{
  text-align: left;
  padding: 2em 3em 0;

}
.foot-right{
  padding: 2.5em 3em 2em;
}

.foot-title{
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;

}
.foot-info{
  padding-top: 3px;    
  color: #ffffff;
}
.foot-info a{
  margin-top: 4px;
  text-decoration: none;
  color: rgb(190, 190, 190);
  font-weight: 700;
}
.foot-social{
  padding-left: 25%;
  display: flex;
}
.foot-social .fab,
.foot-social .fas{
  font-size: 30px;
  color: #ffffff;
  padding-right: 20px;
}
.foot-social .fab:hover,
.foot-social .fas:hover{    
  transition: .5s;
  transform: scale(1.2);
  color: #2e35e9;
}




/* aa */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.Cal {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
}
p.lorem-text {
  text-align: justify;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}
.form-group{
  text-align: right;
  padding-right: 30%;
}

.form-control{
  margin: 4px;
}
.btnSubmit{
  background-color: rgb(216, 249, 255); 
  border-radius: 10%;
  transition: 0.3s;
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  width: 6em;
  height: 2em;
  cursor: pointer;  
}
.btnSubmit:hover{
  background-color: aqua;
  color: #000000;
  scale: 1.1;
}


/*  */



.slots {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  margin: 30px auto;
  grid-gap: 2rem;
}

.slots>div{
  background-color: #F7F7F7;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0px 20px 0px 20px;
}

.slots>div>p{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}